body{
    margin: 0px;
    background-color: lightgray;
    font-family: 'Raleway', sans-serif;
}
h1 img{
    width: 70%;
    height: 400px;    
}
header{
    text-align: center;
}
header, footer, section {
    border: solid lightgray 2px;
}

nav{
    height: 50px;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#botoes{
    position: absolute;
    right: 10px;
    top: 10px;
}

/* aqui são formatados os links de cima */
.linkdecima{
    color: black;
    text-decoration: none;
    font-size: 16pt;
    text-transform: uppercase;
}

button{
    background-color: lightblue;
    border: 1px solid darkblue;
}

section{
    display: flex;
    width: 95%;
    background-color: gray;
    margin-bottom: 50px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

#segunda{
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

p{
    margin-left: 20px;
}

#gato{
    border-radius: 10%;
}

img{
 height: 200px;
 width: 200px;   
}

#oi{
    background-image: url(./images/oi.png);
    background-size: cover;
    padding: 200px;
}

#flex{
    display: flex;
}
#lateral{
    padding-left: 10px;
    margin-right: 30px;
    width: 30%;
    margin-top: 30px;
    background-color: gray;
    margin-left: 10px;
}
a{
    color:black;
    text-decoration: none;
}
#primeiraSection{
    margin-top: 50px;
}
li{
    font-size: 15pt;
    padding: 10px;
}
ul{
    list-style-type: none;

}
#gato{
    border-radius: 50%;
}
footer{
    background-color: gray;
    text-align: center;
    height: 25px;
}

#logo{
    position:absolute;
margin-left:-650px ;
width:200px;
height:200px; 
}

#sobre{
    margin-top: 30px;
    width: 95%;
    background-color: gray;
    height: 100px;
}

#sobre p{
    font-size: 25px;
    text-align: center;
    padding-top: 35px;
}
a:hover{
    background-color: rgb(117, 112, 112);
}
#fotos img{
    padding-right: 40px;
    width: 200px;
    height: 200px;
}
#fotos{
    width: 800px;
    padding-left: 0px;
    background:gray;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}